<form method="POST" action="/coffees/<%= @coffee.id %>">
    <input type="hidden" name="_method" value="PATCH">
    <br>
    <h2>Make your changes to <%= @coffee.brand %>: <%= @coffee.flavor %> and then click save.</h2>
    <br>
    <label>Coffee brand: </label>
    <input type="text" name="coffee[brand]" value="<%= @coffee.brand %>">
    <br>
    <label>Coffee flavor: </label>
    <input type="text" name="coffee[flavor]" value="<%= @coffee.flavor %>">
    <br>
    <label>Roast type: </label>
    <input type="text" name="coffee[roast]" value="<%= @coffee.roast %>">
    <br>
    <label>Rating: </label>
    <input type="float" name="coffee[rating]" value="<%= @coffee.rating %>">
    <br>
    <br>
    <input type="submit" value="Update coffee information">
</form>