<h2>Here are your coffee ratings, <%= @user.username %></h2><br>


 




<p>Ignore below here for now</p>
<ul><% @coffees.each do |c| %>
    <li><a href="/coffees/<%= c.id %>"><%= c.brand.capitalize %>: <%= c.flavor.capitalize %>, <%= c.roast.capitalize %> roast</a></li>
    <br>
<% end %></ul>