<h2>Hello, <%= @user.username %>!</h2>

<a href="/coffees/new">Create a new coffee</a>
<br>
<br>
<% if @coffees == [] %>
    You don't have any coffees yet.  Create your first coffee by clicking above.
<% else %>
Here are your coffees:
<br>
<br>
<ul><% @coffees.each do |c| %>
    <li><a href="/coffees/<%= c.id %>"><%= c.brand.capitalize %>: <%= c.flavor.capitalize %>, <%= c.roast.capitalize %> roast, Rating <%= c.rating %></a></li>
<% end %>
<% end %></ul>
<br>
<br>
<% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
    </div>
<% end %>